extends tmpl/_layout

block vars
	- var pageId = 'catalod-detail-white'
	- var bgWhite = true

block body
	.catalod-detail
		.catalod-detail__photo
			.catalod-detail-img
				-
					var list=[
						{img:'catalod-detail1.jpg'},
						{img:'catalod-detail2.jpg'},
						{img:'catalod-detail3.jpg'},
						{img:'catalod-detail4.jpg'},
					]
				each item in list
					a(href="/upload/"+item.img, data-fancybox="images").catalod-detail-img__item
						img(src="/upload/"+item.img, alt="")

		.catalod-detail__main
			ul.bredcrumb(itemscope="", itemtype="https://schema.org/BreadcrumbList")
				-
					var list=[
						{text:'Магазин подарков'},
						{text:'Подарки для интерьера'},
						{text:'Декоративные тарелки'},
					]
				each item in list
					li.bredcrumb__item(itemprop="itemListElement", itemscope="", itemtype="https://schema.org/ListItem")
						a(href="#", itemprop="item").bredcrumb__link
							span(itemprop="name")= item.text
							meta(itemprop="position", content="1")

			h1 Тарелка формы Тюльпан «Вьюнок». ИФЗ 18 см.

			.catalod-detail__article
				span Артикул: 0031220

			.catalod-detail__price
				.catalod-detail-price
					.catalod-detail-price__top
						.catalod-detail-price__old
							span.catalod-detail-price__old-val 6800
							| 
							span.catalod-detail-price__curency &#8381;

						.catalod-detail-price__sale -26%

						.catalod-detail-price__bank
							img(src="/upload/logo_tbank.svg", alt="")
					
					.catalod-detail-price__val 2600 
						span.catalod-detail-price__curency &#8381;

				.exclusive
					.exclusive__icon
						+svg('ic-diamond','ic-diamond', '24', '24')

					.exclusive__title эксклюзив
					.exclusive__text в единственном экземпляре

			.doljami
				.doljami__logo
					svg(width='85' height='13' viewbox='0 0 85 13' fill='none' xmlns='http://www.w3.org/2000/svg')
						path(d='M14.9026 0H12.9012V10.2742H14.9026V0Z' fill='black')
						path(d='M10.6022 0.574909H8.60081V10.8489H10.6022V0.574909Z' fill='black')
						path(d='M6.30179 1.21674H4.3004V11.4926H6.30179V1.21674Z' fill='black')
						path(d='M2.00138 1.8657H0L7.62618e-06 12.1429H2.00139L2.00138 1.8657Z' fill='black')
						path(d='M68.6591 5.42663L65.4081 1.77392H63.5075V10.2312H65.4919V4.8353L68.46 8.03219H68.8267L71.7438 4.8353V10.2312H73.7282V1.77392H71.8276L68.6591 5.42663Z' fill='black')
						path(d='M83.1822 1.77392L78.2637 7.27085V1.77392H76.2793V10.2312H78.0973L83.0158 4.73428V10.2312H85.0002V1.77392H83.1822Z' fill='black')
						path(d='M52.8191 4.86856C52.8191 6.21508 53.5478 7.27578 54.6662 7.72051L52.5689 10.2312H54.9978L56.9057 7.94719H58.9702V10.2312H60.9546V1.77392H55.9025C54.019 1.77392 52.8191 3.07609 52.8191 4.86856ZM58.9714 3.63662V6.13747H56.2705C55.3694 6.13747 54.8861 5.6299 54.8861 4.88581C54.8861 4.14172 55.3864 3.63416 56.2705 3.63416L58.9714 3.63662Z' fill='black')
						path(d='M43.5978 3.46538C43.4763 6.374 42.8691 8.25148 41.6802 8.25148H41.3826V10.2817L41.6996 10.299C44.0835 10.4333 45.4012 8.31924 45.6174 3.70191H48.753V10.2312H50.7338V1.77392H43.6646L43.5978 3.46538Z' fill='black')
						path(d='M36.1279 1.65576C33.444 1.65576 31.513 3.53324 31.513 6.00206C31.513 8.55587 33.614 10.3668 36.1279 10.3668C38.7462 10.3668 40.7804 8.45486 40.7804 6.00206C40.7804 3.54926 38.7462 1.65576 36.1279 1.65576ZM36.1279 8.33659C34.6111 8.33659 33.5776 7.33871 33.5776 6.00206C33.5776 4.63214 34.6123 3.66137 36.1279 3.66137C37.6435 3.66137 38.7122 4.67649 38.7122 6.00206C38.7122 7.32763 37.6289 8.33659 36.1279 8.33659Z' fill='black')
						path(d='M29.4085 1.78988H22.4048L22.338 3.48133C22.2384 5.91812 21.6094 8.2354 20.4204 8.26866L19.8703 8.28591V12.1428L21.8717 12.1387V10.2324H28.8243V12.1387H30.8427V8.26866H29.4085V1.78988ZM27.4241 8.26866H23.1893C23.9059 7.16977 24.2896 5.57933 24.3564 3.7191H27.4241V8.26866Z' fill='black')
				
				.doljami__text 4 платежа по 475 ₽

				.doljami__icon
					+svg('ic-info','ic-info', '16', '16')

			.catalod-detail__action
				a(href="#").btn В корзину
				a(href="#").btn.btn_border Быстрая покупка

				.btn-wish
					.btn-wish__icon
						+svg('ic-heart-full','ic-heart-full', '23', '20')

					.btn-wish__label
						|Добавить 
						br
						|в избранное

			.catalod-detail__split
				img(src="/upload/yandex-split-white.png", alt="")

			.catalod-detail__desc
				.more-text.js-more-text
					.more-text__content.js-more-text-content(data-max-lines="3")
						p Декоративная тарелка с рисунком на лицевой поверхности 100% гармонизирует пространство.
							br
							|Вот почему расписная тарелка используется для украшения жилья с незапамятных времен.
							br
							|Декоративная тарелка «Вьюнок» представлена в Галерее как образец современного фарфорового промысла Санкт-Петербурга.

						p  Посуда ручной работы, сделанная в городе на Неве, продается в Галерее подарков в  комплектах, сервизах и поштучно. Вы можете купить  образцы посуды, оценить их качество и собрать набор нужной комплектации. Плоский корпус этой тарелки оформлен  из «русского белого золота» - твердого. не пористого фарфора  в соответствии с формой «Тюльпан».  Оформление поверхности  выполнено в технике ручной росписи с использованием экокраски -  окиси кобальта, приобретающей после обжига в печи синий цвет. А также  супер-краски на основе золота.
						p Посуда и элементы декора Императорского фарфорового завода сделаны в Санкт-Петербурге. Каждый образец посуды оформляется из «русского белого золота» - фарфора того или иного сорта и расписывается вручную. Уникальная рецептура каждого сорта фарфора разработана ученым Дмитрием Виноградовым еще в 18 веке для Елизаветинской порцелиновой мануфактуры, так раньше назывался Императорский фарфоровый завод.
						p Для декора образцов посуды используются необычные краски - такие, например,  как окись кобальта (черная краска, которая приобретает синий цвет после обжига в печи при сверхвысоких температурах) и супер-краска, которая готовится на основе жидкого золота. Роспись осуществляется вручную в подглазурных и надглазурных техниках, а также в технике деколь, которая предполагает нанесение рисунка на поверхность фарфора с листа бумаги.Основная роспись на корпусе посуды защищена слоями прозрачной стеклянной глазури.
						p Авторская работа, декоративная тарелка «Вьюнок» (форма «Тюльпан») ЛФЗ - Ваш отличный выбор.Вариант практичного подарка  на  общий или личный праздник.
						p Изделие Императорского фарфорового завода (ИФЗ/ЛФЗ) 

						p Форма: Тюльпан
							br
							|Рисунок: «Вьюнок»
							br
							|Автор рисунка: Славина Н.П.
							br
							|Эксклюзивная авторская работа.

					span.more-text__link.js-more-text-btn(data-text="Свернуть")
						span.js-more-text-btn-text Читать полностью 
						+svg('ic-arr-down','ic-arr-down', '16', '7')


			.catalog-detail-props
				-
					var list=[
						{label:'Материал:', value:'Фарфор'},
						{label:'Диаметр:', value:'180 мм'},
					]
				each item in list
					.catalog-detail-props__item
						.catalog-detail-props__label= item.label
						.catalog-detail-props__val= item.value

			.catalog-detail-info
				.catalog-detail-info__icon
					+svg('ic-map','ic-map', '35', '35')

				.catalog-detail-info__text В наличии 7 шт. ул. Верхняя Сыромятническая 2

			.share
				.share__label Поделиться: 

				.share__list
					a(href="#").share__item.share__item_vk
						+svg('ic-vk-square','ic-vk-square', '32', '32')

					a(href="#").share__item.share__item_ok
						+svg('ic-ok-square','ic-ok-square', '32', '32')

			.catalog-detail-brand
				.catalog-detail-brand__img
					img(src="/upload/rus-farfor.png", alt="")

				.catalog-detail-brand__content
					.catalog-detail-brand__title Императорский фарфор

					.catalog-detail-brand__link
						a(href="#") История бренда

					.catalog-detail-brand__link
						a(href="#") Все товары бренда | 124 шт.

			.catalog-other
				h2 Рекомендуем

				.catalog-list
					-
						var list=[
							{img:'cup1.png', prop:'Объем 230 мл', price:'4 200', title:'Набор бокалов для шампанского 230 мл «Азур». ИФЗ', article:'Артикул: 400103'},
							{img:'cup2.png', prop:'Объем 250 мл', price:'2 850', title:'Чайная пара 250 мл «Роузи».  Форма Весенняя-2. ИФЗ', article:'Артикул: 400047'},
							{img:'cup3.png', prop:'Объем 180 мл', price:'3 600', title:'Кофейная пара 180 мл «Год лошади». Форма Ландыш. ИФЗ', article:'Артикул: 400150'},
							{img:'horse.png', prop:'Высота 140 мм', price:'37 450', title:'Символ 2026 года. Статуэтка из хрусталя «Лошадь». Asfour Crystal покрытие Aura', article:'Артикул: 712024310'},
						]
					each item in list
						.catalog-item
							.catalog-item__top
								.catalog-item__prop= item.prop
								.catalog-item__price= item.price
									| 
									|&#8381;

							a(href="#").catalog-item__img-wrap
								.catalog-item__img
									img(src="/upload/"+item.img, alt="")
								
							.catalog-item__title
								a(href="#")= item.title

							.catalog-item__article= item.article

			.catalog-other
				h2 Другие товары производителя

				.catalog-list
					-
						var list=[
							{img:'pic1.png', prop:'Высота 30 мм', price:'11 660', title:'Декоративная тарелка «Зима. Утенок». Форма Эллипс. ИФЗ', article:'Артикул: 0074240'},
							{img:'pic2.png', prop:'Высота 30 мм', price:'3 600', title:'Тарелка декоративная «Красный конь». Форма Эллипс. ИФЗ', article:'Артикул: 400147'},
							{img:'pic3.png', prop:'Высота 30 мм', price:'11 660', title:'Декоративная тарелка «Зима. Мальчик». Форма Эллипс. ИФЗ', article:'Артикул: 400150'},
							{img:'pic4.png', prop:'Диаметр 275 мм', price:'4 200', title:'Тарелка декоративная «Маленький Принц. Цитаты» ЛФЗ', article:'Артикул: 712024310'},
						]
					each item in list
						.catalog-item
							.catalog-item__top
								.catalog-item__prop= item.prop
								.catalog-item__price= item.price
									| 
									|&#8381;

							a(href="#").catalog-item__img-wrap
								.catalog-item__img
									img(src="/upload/"+item.img, alt="")
								
							.catalog-item__title
								a(href="#")= item.title

							.catalog-item__article= item.article

			.catalog-deatail-tags
				h3 С этим товаром часто смотрят:

				.tags
					-
						var list=[
							{text:'Декоративные тарелки из фарфора'},
							{text:'Декоративные тарелки Женщине'},
							{text:'Декоративные тарелки Бабушке'},
							{text:'Декоративные тарелки Матери'},
							{text:'Декоративные тарелки Императорского фарфора'},
							{text:'Декоративные тарелки Тюльпан'},
						]
					each item in list
						a(href="#").tags__item= item.text